.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #A5603B;
    color: #FFF;
    padding: .4% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 15px 15px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
    color: #FFF;
    background-color: #A5603B;
}
.navbar-inverse .navbar-nav li a{
    color: #D5D5D5;
}
.carousel-inner #slidewrapper .slide .slideshow img {
    margin: 0 auto;
    width: 100%;
    max-width: 2560px;
    min-width: 900px;
}

/*.container-fluid{*/
/*margin: 25%;*/
/*width: 100%;*/
/*}*/
