.header {
    margin: auto;
    text-align: center;
    font-family: Helvetica;
}

#form {
    padding: 4px;
    margin: 25px 200px 25px 200px;
    font-size: 20px;
    text-align: justify;
}

#quizname {
    width: 50%;
    padding: 12px 20px;
    margin: 15px;
    border: none;
    border-bottom: 4px solid #4caf50;
    font-size: large;
}